.Btn {
    &__Login {
        border-radius: 20px;
        color: var(--clr-linear-grad-100);
        background-color: var(--clr-neutral_dark-100);
        font-size: 12px;
        font-weight: bold;
        padding: 12px 25px;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin-top: 40px;
        transition: all 300ms ease;
        border: 3px solid #fff;

        &:hover {
            background: var(--clr-neutral_light-100);
            border: 3px solid var(--clr-primary-100);
            transition: all 300ms ease;
        }
    }

    &__Container {
        display: flex;
        justify-content: center;
        gap: 2.7rem;

        a{
            &:nth-child(1) {
                background-color: var(--clr-neutral_light-400);
                color: var(--clr-primary-100);
            }

            &:nth-child(2) {
                background-color: var(--clr-secondary-100);
                color: var(--clr-neutral_light-100);
            }
        }

    }

    &__Close {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 15px;
        height: 15px;
        background: var(--clr-secondary-100);
        color: var(--clr-neutral_light-100);
        text-align: center;
        line-height: 15px;
        border-radius: 15px;
        cursor: pointer;
    }

    &__Popup {
        display: flex;
        justify-content: space-around;
        font-family: 'Roboto', sans-serif;
        font-size: var(--fs-350);
        color: var(--clr-primary-100);
        font-weight: 600;
        cursor: pointer;

        .Quit {
            background: var(--clr-secondary-100);
            padding: 10px 20px;
            border-radius: 20px;
        }

        .Cancel {
            background: var(--clr-neutral_dark-100);
            padding: 10px 20px;
            border-radius: 20px;
        }
    }
}