@font-face {
    font-family: "Bebas Neue";
    src: url("/FRONT/Public/Assets/Fonts/Bebas\ Neue/BebasNeue-Regular.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("/FRONT/Public/Assets/Fonts/Roboto\ Condensed/RobotoCondensed-Regular.ttf");
}