// Initialisation des différentes couleurs sous le format de map imbriquée
$colors: (
    primary: (
        100: hsl(225, 13%, 18%),
    ),
    secondary: (
        100: hsl(29, 71%, 57%),
    ),
    ternary: (
        100: hsl(29, 92%, 85%),
    ),
    linear-grad: (
        100: linear-gradient(to right, #141E30, #243855),
    ),
    neutral_light: (
        100: hsl(0, 0%, 100%),
        200: hsla(0, 0%, 100%, 0.75),
        300: hsl(0, 0%, 95%),
        400: hsl(0, 0%, 94%),
        500: hsl(0, 0%, 88%),
        600: hsl(0, 0%, 85%),
    ),
    neutral_dark: (
        100: hsl(0, 0%, 72%),
        200: hsl(0, 0%, 74%),
        300: hsl(60, 0%, 59%),
        400: hsl(0, 0%, 51%),
        500: hsla(0, 0%, 20%, 0.50),
        600: hsl(0, 0%, 12%),
        700: hsl(0, 0%, 0%),
        800: hsl(0, 8%, 3%),
    ),
    State: (
        100: hsl(145, 75%, 49%),
        200: hsl(0, 73%, 60%),
    )
)