@mixin max-width {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

@mixin between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin image {

}

@mixin icon-size{
    width: 1.5rem;
    height: 1.5rem;
}
