// Initialisation d'autres map pour la typographie
$type-sizes: (
    small: (
        100: 8px,
        200: 12px,
        250: 13px,
        300: 15px,
        350: 16px,
        400: 20px,
        500: 24px,
        600: 36px,
        700: 40px,
        800: 48px,
        900: 65px,
    ),
    medium: (
        100: 8px,
        200: 12px,
        250: 13px,
        300: 15px,
        350: 16px,
        400: 20px,
        500: 32px,
        600: 48px,
        700: 40px,
        800: 96px,
        900: 96px,
    ),
    big: (
        100: 12px,
        200: 12px,
        250: 13px,
        300: 15px,
        350: 16px,
        400: 20px,
        500: 36px,
        600: 48px,
        700: 40px,
        800: 96px,
        900: 96px,
    )
)